In [3]:
import numpy as np
from scipy.interpolate import interp1d
from matplotlib import pyplot as plt

import pandas as pd
from pathlib import Path
from sklearn.preprocessing import MinMaxScaler
import os

In [4]:
qualityfinal_dir = './final_data'
qualityfinal_list = os.listdir(qualityfinal_dir)
pd.DataFrame(qualityfinal_list)

                     0
0   .ipynb_checkpoints
1             df02.csv
2           df04_2.csv
3           df05_1.csv
4           df05_2.csv
5           df06_1.csv
6        df06_1_ic.csv
7           df06_2.csv
8        df06_2_ic.csv
9           df07_3.csv
10          df07_4.csv

In [48]:
df = pd.read_csv(os.path.join(qualityfinal_dir, qualityfinal_list[2]))

In [84]:
df   10724.9825	11522.205	12319.4275

,지역별,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,전국(5인이상),7788.13,8843.83,9164.27,9927.76,10620.88,11579.85,12509.60,13116.65,13858.86,...,15359.25,16898.22,16799.88,17193.82,17588.42,19334.78,20329.45,20610.67,20789.99,23184.41
1,서울,8712.82,10676.02,11730.83,12519.50,13422.43,14145.01,15403.38,15763.82,17196.91,...,19525.21,21022.73,20316.71,20529.21,20600.03,22817.68,23705.82,23745.70,23809.03,26594.12
2,부산,6886.21,8041.45,8293.94,9283.40,9930.33,9707.96,10811.18,11480.38,12597.51,...,14285.00,15260.55,15125.93,15272.65,15518.95,16603.10,17542.44,18323.64,18315.99,21127.40
3,대구,6387.21,7193.17,7557.84,8079.52,8527.69,9525.05,10340.07,10768.32,11315.52,...,12217.28,13241.38,13213.23,13614.42,14059.97,15359.62,15963.49,16477.96,16750.44,19749.40
4,인천,7218.94,8273.45,8114.35,8596.83,9497.43,10272.75,11173.34,11818.59,12226.15,...,14089.74,15462.52,15106.20,15313.77,15772.03,17197.89,18166.09,18497.01,18529.62,20991.98
5,광주,7807.60,8359.63,7844.40,8667.66,10059.95,11511.36,11635.92,12321.34,12274.22,...,13434.83,15298.32,15096.66,15266.91,15895.52,17159.63,18011.85,18180.05,18282.36,20417.01
6,대전,7763.42,8339.48,9009.33,9823.94,10590.15,11591.81,13077.81,13773.92,14158.24,...,16355.58,17414.89,16475.30,17039.12,17047.05,19305.19,20194.49,20629.45,20476.00,22150.84
7,울산,10538.21,10284.79,10668.55,11222.86,12406.63,15889.66,14238.71,17061.17,16175.54,...,19565.29,21002.58,21031.72,21480.06,21682.70,23815.07,24334.05,24351.41,23621.04,24780.23
8,경기,7320.30,7983.77,8447.35,9242.92,9910.27,10773.10,11549.03,12253.83,12836.48,...,14923.42,17197.50,16455.16,16491.48,16926.13,18583.91,19606.34,19925.43,20078.88,22785.57
9,강원,7202.14,8540.00,8315.44,8957.87,9601.18,10149.00,11037.59,11212.13,12808.65,...,13652.68,14704.90,14464.83,14965.83,15476.71,17045.69,18039.58,18211.52,18293.53,20222.52
10,충북,6839.31,8312.77,8031.27,8655.50,9523.97,9876.14,10645.55,11433.36,12715.49,...,14017.23,14969.28,14689.20,14807.47,15454.62,17157.38,18245.76,18705.68,18843.50,20818.70
11,충남,7069.66,8151.00,8503.68,9399.34,10132.13,10591.38,11298.13,11686.20,14235.75,...,15681.11,16884.22,17145.10,17241.94,17308.39,19116.99,20005.50,20150.91,20172.61,22295.07
12,전북,7342.44,8357.18,8439.97,9216.47,9825.14,9960.73,10800.82,11501.99,12542.98,...,14832.98,16023.25,15407.61,15705.62,16049.06,17497.54,17950.78,18276.55,18286.05,19897.53
13,전남,7988.07,9028.29,9301.14,10592.49,10801.05,12152.16,13413.16,13627.71,14016.71,...,16803.32,18248.75,17251.78,17692.77,17840.62,19254.29,19954.21,20556.59,20367.29,22092.60
14,경북,7050.19,8322.20,8421.13,8796.63,10154.11,11380.14,12116.34,12109.46,13559.72,...,14498.23,16307.35,16098.76,16280.59,16612.42,18137.12,18707.92,19282.03,20009.46,22379.86
15,경남,7327.28,8565.11,8657.02,9196.51,9882.72,10893.42,11680.35,12290.09,12973.79,...,14654.61,15659.94,15377.77,15637.51,16179.28,17664.30,18367.48,18704.50,19055.78,21007.13
16,제주,7462.14,8217.09,7826.90,8334.29,9054.97,9786.42,10533.86,10543.68,11257.44,...,12987.70,13707.55,13618.34,13170.57,13098.08,14255.03,14942.83,15539.01,16276.64,18828.90

In [49]:
df.drop(columns = 'Unnamed: 0',inplace = True)

In [78]:
df1 = df.copy()

In [79]:
df1.drop(columns = '지역별',inplace = True)

In [80]:
df1.iloc[0,[4,5,6]]=np.nan

In [82]:
df_int = df1.interpolate(axis=1)

In [83]:
df_int

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,7788.13,8843.83,9164.27,9927.76,10724.9825,11522.205,12319.4275,13116.65,13858.86,14335.62,...,15359.25,16898.22,16799.88,17193.82,17588.42,19334.78,20329.45,20610.67,20789.99,23184.41
1,8712.82,10676.02,11730.83,12519.50,13422.4300,14145.010,15403.3800,15763.82,17196.91,16954.89,...,19525.21,21022.73,20316.71,20529.21,20600.03,22817.68,23705.82,23745.70,23809.03,26594.12
2,6886.21,8041.45,8293.94,9283.40,9930.3300,9707.960,10811.1800,11480.38,12597.51,13301.04,...,14285.00,15260.55,15125.93,15272.65,15518.95,16603.10,17542.44,18323.64,18315.99,21127.40
3,6387.21,7193.17,7557.84,8079.52,8527.6900,9525.050,10340.0700,10768.32,11315.52,11573.82,...,12217.28,13241.38,13213.23,13614.42,14059.97,15359.62,15963.49,16477.96,16750.44,19749.40
4,7218.94,8273.45,8114.35,8596.83,9497.4300,10272.750,11173.3400,11818.59,12226.15,12875.40,...,14089.74,15462.52,15106.20,15313.77,15772.03,17197.89,18166.09,18497.01,18529.62,20991.98
5,7807.60,8359.63,7844.40,8667.66,10059.9500,11511.360,11635.9200,12321.34,12274.22,13139.20,...,13434.83,15298.32,15096.66,15266.91,15895.52,17159.63,18011.85,18180.05,18282.36,20417.01
6,7763.42,8339.48,9009.33,9823.94,10590.1500,11591.810,13077.8100,13773.92,14158.24,14536.33,...,16355.58,17414.89,16475.30,17039.12,17047.05,19305.19,20194.49,20629.45,20476.00,22150.84
7,10538.21,10284.79,10668.55,11222.86,12406.6300,15889.660,14238.7100,17061.17,16175.54,17254.67,...,19565.29,21002.58,21031.72,21480.06,21682.70,23815.07,24334.05,24351.41,23621.04,24780.23
8,7320.30,7983.77,8447.35,9242.92,9910.2700,10773.100,11549.0300,12253.83,12836.48,13584.00,...,14923.42,17197.50,16455.16,16491.48,16926.13,18583.91,19606.34,19925.43,20078.88,22785.57
9,7202.14,8540.00,8315.44,8957.87,9601.1800,10149.000,11037.5900,11212.13,12808.65,12655.06,...,13652.68,14704.90,14464.83,14965.83,15476.71,17045.69,18039.58,18211.52,18293.53,20222.52
10,6839.31,8312.77,8031.27,8655.50,9523.9700,9876.140,10645.5500,11433.36,12715.49,12723.38,...,14017.23,14969.28,14689.20,14807.47,15454.62,17157.38,18245.76,18705.68,18843.50,20818.70
11,7069.66,8151.00,8503.68,9399.34,10132.1300,10591.380,11298.1300,11686.20,14235.75,14409.96,...,15681.11,16884.22,17145.10,17241.94,17308.39,19116.99,20005.50,20150.91,20172.61,22295.07
12,7342.44,8357.18,8439.97,9216.47,9825.1400,9960.730,10800.8200,11501.99,12542.98,12956.62,...,14832.98,16023.25,15407.61,15705.62,16049.06,17497.54,17950.78,18276.55,18286.05,19897.53
13,7988.07,9028.29,9301.14,10592.49,10801.0500,12152.160,13413.1600,13627.71,14016.71,14857.56,...,16803.32,18248.75,17251.78,17692.77,17840.62,19254.29,19954.21,20556.59,20367.29,22092.60
14,7050.19,8322.20,8421.13,8796.63,10154.1100,11380.140,12116.3400,12109.46,13559.72,13838.29,...,14498.23,16307.35,16098.76,16280.59,16612.42,18137.12,18707.92,19282.03,20009.46,22379.86
15,7327.28,8565.11,8657.02,9196.51,9882.7200,10893.420,11680.3500,12290.09,12973.79,13293.95,...,14654.61,15659.94,15377.77,15637.51,16179.28,17664.30,18367.48,18704.50,19055.78,21007.13
16,7462.14,8217.09,7826.90,8334.29,9054.9700,9786.420,10533.8600,10543.68,11257.44,11847.72,...,12987.70,13707.55,13618.34,13170.57,13098.08,14255.03,14942.83,15539.01,16276.64,18828.90

In [10]:
df.iloc[0,:].tolist()

['전국(5인이상)',
 7788.13,
 8843.83,
 9164.27,
 9927.76,
 10620.88,
 11579.85,
 12509.6,
 13116.65,
 13858.86,
 14335.62,
 15126.75,
 15359.25,
 16898.22,
 16799.88,
 17193.82,
 17588.42,
 19334.78,
 20329.45,
 20610.67,
 20789.99,
 23184.41]

In [13]:
x = np.linspace(0,10*np.pi, 20)
y = np.cos(x)

In [19]:
y

array([ 1.        , -0.08257935, -0.9863613 ,  0.24548549,  0.94581724,
       -0.40169542, -0.87947375,  0.54694816,  0.78914051, -0.67728157,
       -0.67728157,  0.78914051,  0.54694816, -0.87947375, -0.40169542,
        0.94581724,  0.24548549, -0.9863613 , -0.08257935,  1.        ])

In [24]:
li_y = np.arange(2008,2021)

In [23]:
 li_x = [13858.86,
 14335.62,
 15126.75,
 15359.25,
 16898.22,
 16799.88,
 17193.82,
 17588.42,
 19334.78,
 20329.45,
 20610.67,
 20789.99,
 23184.41]

In [26]:
fl = interp1d(li_x,li_y,kind = 'linear')

In [ ]:
xint = np.linspace(x.min(), x.max())

In [56]:
import pandas as pd

dfx = pd.DataFrame({'X': [1, 2, 3, None, 3],
                   'Y': [4, None, 8, None, 3]})
print("DataFrame:")
print(dfx)

filled_dfx = dfx.interpolate()

print("Interploated DataFrame:")
print(filled_dfx)

DataFrame:
     X    Y
0  1.0  4.0
1  2.0  NaN
2  3.0  8.0
3  NaN  NaN
4  3.0  3.0
Interploated DataFrame:
     X    Y
0  1.0  4.0
1  2.0  6.0
2  3.0  8.0
3  3.0  5.5
4  3.0  3.0

In [58]:
dfx

     X    Y
0  1.0  4.0
1  2.0  NaN
2  3.0  8.0
3  NaN  NaN
4  3.0  3.0